<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <li> <a href="{% url 'person_list' %}"> Menu </a> </li>

    <div class="container">
        <h2>Digite o MAC:</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

        <ol>
            {% for post in busca_bd %}
    
                <li>{{ post }}</li>
    
            {% endfor %}
        </ol>
</body>
</html>